* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
}

.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  left:0px;
}

.attribution a {
  color: hsl(0, 93%, 68%)
}

.container {
  background-image: url("images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}



.header-logo {
  padding-left: 8.5%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.left-area {
  text-align: left;
  float: left;
  width: 40%;
  margin: 2.5rem 8rem;
}

.sub-header {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.header {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 12px;
  padding-bottom: 2%;
}

.display-text {
  font-weight: 400;
  color: hsl(0, 36%, 70%);
  font-size: 1rem;
  line-height: 1.7rem;
  width: 70%;
  padding-bottom: 5%;
}

.right-area {
  background-image: url("images/hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  float: right;
  width: 40%;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
}

.clear {
  clear: both;
}

#input-item {
  border-radius: 28px;
  border: 2px solid hsl(0, 6%, 24%, 0.3);
  padding: 1rem 1rem;
  width: 80%;
  position: relative;
}

.header-input-button {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  height: 50px;
  width: 80px;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  position: absolute;
  left: 550px;
}

#invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

/*Media Queries*/
@media(max-width : 480px) {
  .container {
    width: 100%;
  }

  .header {
    padding-bottom: 5%;
  }

  .header-logo {
    padding: 5%;
  }

  .left-area {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    padding: 10%;
  }

  .right-area {
    width: 100%;
    background: url("images/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    position: static;
    height:300px;
  }

  .left-right {
    display: flex;
    flex-direction: column-reverse;
  }

  .display-text {
    width: 100%;
  }

  .attribution {
    position: static;
  }

  .header-input-button {
    position: absolute;
    left: 340px;
  }
}
